body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.container {
    max-width: 800px;
    align-items: center;
    margin: 0 auto;
    background-color: #f9f9f9;
}
button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    margin: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #555;
}
